<h2><%= @project.title %></h2>
  <p><a href="/projects/<%= @project.id %>/edit">Edit Project</a></p>

<h3>Volunteer Entry</h3>
<form method='post' action='/projects/<%= @project.id %>/add_volunteer'>
  <div class='form-group'>
    <label for='name'>Enter a volunteer:</label>
    <input id='n' name='name' class'form-control' type='text'>
  </div>
  <button type='submit' class="btn-success">Add volunteer!</button>
</form>
<div>
<br><br>
<h2>Volunteers assigned to this project</h2>
<% if @volunteers.any? %>
<ul>
<% @volunteers.each do |volunteer| %>
<li><a href="/volunteer_entry/<%= volunteer.id %>"><%= volunteer.name %></a></li>
<% end %>
</ul>
<% else %>
<h3>Currently, there are no volunteers assigned.</h3>
<% end %>
