<h2><%= @project_input.title %></h2>
  <p><a href="/edit/<%= @project_input.id %>">Edit Project</a></p>

<h3>Volunteer Entry</h3>
<form method='post' action='/projects/<%= @project_input.id %>/add_volunteer'>
  <div class='form-group'>
    <label for='name'>Enter a volunteer:</label>
    <input id='n' name='name' class'form-control' type='text'>
  </div>
  <button type='submit' class="btn-success">Add volunteer!</button>
</form>
<div>
<br><br>
<h2>Volunteers assigned to this project</h2>
<% if @volunteer.any? %>
<% @volunteer.each do |item| %>
<a href="/volunteer_edit/<%= item.id %>"><%= item.name %></a>
<% end %>
<% else %>
<h3>Currently, there are no volunteers assigned.</h3>
<% end %>
